@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Cyan-modified: hsl(178, 100%, 50%, 60%);

    --Very-dark-blue: hsl(217, 54%, 11%); 
    --Very-dark-blue-2: hsl(216, 50%, 16%); 
    --Very-dark-blue-3: hsl(215, 32%, 27%); 
    --White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue);
}

.main-section {
    width: 15.9rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--Very-dark-blue-2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.equilibrium-img {
    max-width: 100%;
    border-radius: 10px;
}

.title, .credits p {
    color: var(--White);
}


.title {
    font-size: 1.5rem;
}

.description, .pricing-coloroff, span {
    color: var(--Soft-blue);
}

.description {
    font-size: 1rem;
    line-height: 1.6rem;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.pricing-right, .pricing-left {
    display: flex;
    align-items: center;
}

.pricing-right img, .pricing-left img{
    margin-right: 5px;
}

.pricing-color {
    color: var(--Cyan);
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--Soft-blue);
}

.credits {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.credits img {
    margin: 5px;
    width: 2.5rem;
    border: 1px solid var(--White);
    border-radius: 3.1rem;
}

span {
    margin-right: 2px;
}

.image {
    position: relative;
}

.image div {
    position: absolute;
    background-color: var(--Cyan);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
}

.image div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image div:hover {
    background-color: var(--Cyan-modified);
    opacity: 1;
    cursor: pointer;
}

.title:hover, .credits p:hover, .image img:hover {
    color: var(--Cyan);
    cursor: pointer;
}

